[2017-07-02 08:33] pachonk opened #1 "Install Rspec"

[2017-07-02 08:34] pachonk opened #2 "Install guard-rspec"

[2017-07-02 08:34] pachonk opened #3 "Install fg and faker"

[2017-07-02 08:50] pachonk opened #4 "Create issues for the MVP milestone"

[2017-07-02 08:58] #1 closed

[2017-07-02 09:00] sanchez2210 commented on #1
Aw now we need to start claming the issues. @Exellin haha

[2017-07-02 09:04] sanchez2210 opened #8 "Set root path"

[2017-07-02 09:04] pachonk opened #9 "Install Devise"
I'd say call the model "user".

[2017-07-02 09:05] sanchez2210 opened #10 "Should we use a gem like figaro?"

[2017-07-02 09:07] pachonk commented on #10
https://github.com/bkeepers/dotenv is also an option.
I have also done "home grown solutions" like this:
https://github.com/NYULibraries/dlts-middleware-authz/blob/master/config/initializers/environment_variables.rb

[2017-07-02 09:07] Exellin commented on #9
go ahead and tackle this if you like @sanchez2210 I just wanted to quickly get back to where we were on the last repo and I'm going to bed.

[2017-07-02 09:08] #3 closed

[2017-07-02 09:10] pachonk commented on #9
Let's go 100% vanilla on Devise and we'll add/remove the features as new issues after further discussion.

[2017-07-02 09:33] pachonk opened #11 "Create Inventory Model"
This will be the model to encapsulate all the items into 1 group. This is the level where user permissions will be applied.
Need a name and description for now, we'll connect it to users later.

[2017-07-02 09:33] pachonk opened #12 "Which authorization gem should we use?"

[2017-07-02 12:54] Talha5 commented on #12
I think we should use Pundit because of its structure.

[2017-07-02 13:04] Talha5 opened #13 "Select Templating Engine"
Which template Engine we should use here?

- Haml

- Erb

- Slim

[2017-07-02 17:03] Exellin commented on #11
I'll work on this right now

[2017-07-02 17:05] Exellin commented on #11
going by your piece of paper you called it item and it has 6 properties.  So we are just using 2 of those properties for now?  And we'll call the model inventory/inventories?

[2017-07-02 17:09] pachonk commented on #11
I need to redraw paper. There's a small change here to allow 1 server for many people to sign up and each inventory will eventually require the admin of that inventory to add the user as a role in each inventory.

[2017-07-02 17:13] Exellin commented on #11
ok should I wait for your to redraw it or go ahead and create a simple model with the name and description properties?

[2017-07-02 17:25] pachonk opened #14 "Decide on inventory roles"
Each inventory will encapsulate all items for a particular inventory. We need to decide on what roles will exist for each inventory.

[2017-07-02 18:08] #2 closed

[2017-07-02 18:34] pachonk commented on #11
Creating it with current attributes is fine.

[2017-07-02 19:15] Exellin commented on #11
do we want character limits on the name and description?

[2017-07-02 19:17] pachonk commented on #11
Use VARCHAR 255 and TEXT on description. I'd say.

[2017-07-02 19:18] Exellin commented on #11
isn't text meant for longer strings, what is wrong with a string here?  also I need to quickly look up what varchar is and how to implement it.

[2017-07-02 19:19] pachonk commented on #11
description could potentially be many, many lines were my thought. (string is fine instead of varchar)

[2017-07-02 19:20] pachonk commented on #11
`t.string :name, :limit => 255`

[2017-07-02 19:20] pachonk commented on #11
We could make description feel more like a bio and limit to 255 though.

[2017-07-02 19:20] pachonk commented on #11
And make name a little shorter, perhaps.

[2017-07-02 19:24] Exellin commented on #11
so for these limits in the database will it produce model errors if the user tries to create a description with more than 255 characters?  Or do we also have to limit it within the model file?

[2017-07-02 19:29] Exellin commented on #11
also the text type isn't being assigned the limit in the schema like the string

[2017-07-02 19:35] Exellin commented on #11
So I'll keep the text field unrestricted in the schema since it isn't applying anyway unless we want to limit it to a 255 character string.  then we can limit the length of the description in the model.

[2017-07-02 19:36] pachonk commented on #11
You'd use string again if you wanted to limit to 255.

[2017-07-02 19:37] pachonk commented on #11
If you limit at the DB level, you should also include a validation for that field as well, within the model (and also on the frontend)

[2017-07-02 19:37] Exellin commented on #11
ok so the db check is just extra security.

[2017-07-02 19:38] Exellin commented on #11
I could set a quick limit of like 1000 characters for description.  255 seems very short for a multiple sentence/paragraph field.

[2017-07-02 19:38] pachonk commented on #11
DB check is a hard limit to ensure the DB matches expectation.
Model check is to prevent hitting the DB if invalid.
Front end check is to prevent a request to the server at all.

[2017-07-02 19:39] pachonk commented on #11
What I was trying to say is that description could be like github's org description too, which is limited to 255 I think

[2017-07-02 19:40] Exellin commented on #11
ok then it should also be a string if it is limited to only 255 characters right, which is fine we want that.

[2017-07-02 19:41] pachonk commented on #11
Yep

[2017-07-02 19:41] pachonk commented on #11
I think string == varchar btw. I'd have to look to verify.

[2017-07-02 20:47] pachonk opened #16 "As a user, I want to be able add an inventory"
This inventory should automatically be associated with the user that created it.

[2017-07-02 20:51] pachonk commented on #12
We might not even need one, but there are plenty out there. cancan and pundit come to mind.

[2017-07-02 20:51] pachonk opened #17 "As an inventory administrator, I want to be able to associate a user to an inventory at the level or read, write, and admin"

[2017-07-02 20:52] pachonk opened #18 "As an organization, I want to be able to add an inventory"
That inventory should be automatically associated with that org.

[2017-07-02 20:53] pachonk opened #19 "As a user, I want to be able to add an organization"
That user should automatically be associated as the owner of the org.

[2017-07-02 22:18] Talha5 commented on #12
in that case we can use rails enums too if we dont have too many rights and roles for users.

[2017-07-02 22:35] pachonk commented on #12
@Talha5 I have reasons to say NEVER use enums... But yeah, we can do something similar.

[2017-07-02 22:36] pachonk commented on #12
We'll have more we want to add, and if you plan on it changing... You really shouldn't use enum imho. We should have a vid call to discuss all the reasons.

[2017-07-02 23:15] pachonk opened #20 "As a developer, I want bin/setup to setup the entire repo for development"

[2017-07-03 00:08] Exellin opened #21 "add rubocop with rubocop.yml file for linting"
Rules so far we should implement:

all files have new line at end of file
single quotes except for interpolation
ignore rules on rails generated files.

[2017-07-03 00:12] Talha5 commented on #9
So, we need no `roles` for user, right? and this issue dictates simple devise installation, so i should stick to it only. And of-course no specs for devise.

[2017-07-03 00:18] pachonk commented on #9
@Talha5 Literally follow docs word for word and use "user" and it should get done what we need for now! :)

[2017-07-03 00:18] pachonk commented on #21
Those are all implemented by default on rubocop, I believe.

[2017-07-03 00:23] pachonk commented on #9
The one thing I like to see for ease of dev is factory for all models.

[2017-07-03 07:28] #11 closed

[2017-07-03 08:00] pachonk opened #24 "Install Rubocop to Gemfile"
In the development group, do not require it.

[2017-07-03 09:06] Exellin commented on #13
My vote is for erb.  I've never felt compelled to switch since I can easily understand what is happening in a erb document and typing an element then pressing tab in visual studio code creates the markup for me.  If one of you can write a compelling reason I could be convinced to try one of the others.

[2017-07-03 09:14] pachonk commented on #13
@Exellin I'm convinced that over time, I can get you to see why slim can be super fast and powerful and clean.
Now isn't the time, but after our whole team knows erb and understands views and controllers and such, we can try a few views slim or even haml and you can see what makes them so powerful, imho.

[2017-07-03 15:33] troystarwalt commented on #13
Seems reasonable to start with ERB and switch to HAML/Slim.

[2017-07-03 16:00] troystarwalt commented on #24
#28 is working on this.

[2017-07-03 17:05] Exellin opened #29 "set habtm relationship between user and inventory"

[2017-07-03 17:12] pachonk commented on #29
Related to: #17

[2017-07-03 17:25] pachonk opened #30 "Add ruby version"
I use `asdf` for both node and ruby, so I like `.tool-versions` but I'm guessing not everyone is.
We can either all move to `asdf`, which I don't expect everyone to do, or add the `.ruby-version` and the equal for node.

[2017-07-03 17:30] sanchez2210 commented on #30
I think many will be already using .ruby-version and it should be easy to go with that for now.

[2017-07-03 17:33] Exellin commented on #17
So If i understand what is going on here when a user creates an inventory, a relationship will be made between the two and the user will have access to read and write that inventory.

Then administrators will have the power to associate additional users to the inventory in order to give more users read and write access towards it.

[2017-07-03 17:36] Exellin opened #31 "Create administrators, either through a boolean in the devise user model or as another model entirely"
I prefer to just apply a boolean to the user model and then surround each administrator action in an if statement checking if the user is an administrator.

[2017-07-03 17:37] pachonk commented on #30
@sanchez2210 Do you want to add it?

[2017-07-03 17:38] sanchez2210 commented on #30
Sure.

[2017-07-03 17:41] pachonk commented on #31
@Exellin This is a little misleading. This makes it sounds like we want admins on the overall system, while I think we probably want to have admins on the level of repos and orgs. I propose that we hold off on "implementation issues" and stick to "user story" issues to make sure our implementation matches our stories requests.

[2017-07-03 17:44] sanchez2210 commented on #30
@emerald-rubies/emeralds we'll be using -v 2.4.1 is that good for you?

[2017-07-03 17:46] Exellin commented on #31
Ok so we want an organization called "administators" with certain abilities.  My mistake on the misunderstanding.  Probably would be best to close the issue then if we are never going to implement administrators on this level.

[2017-07-03 17:49] Exellin commented on #29
I created this issue as it needs to be implemented before we move on to #16 (which requires a controller and view) or 17 which you referenced already.  Or would it be better to create a pull request saying it as a partial implementation of those issues?

[2017-07-03 17:49] pachonk commented on #31
Uhh, more like if I create an organization, see #17
For now, assume that the client doesn't want there to be "super admins" that have control over the entire system until later.

[2017-07-03 17:50] pachonk commented on #17
admin would mean they have administrative rights over that "Inventory" they can change the name, desc, users allowed on repo, etc.

[2017-07-03 17:50] sanchez2210 commented on #17
Do you think a HABTM is the way to go? I have some experience with them and came to the (maybe erroneous) conclusion that there's nothing a HABTM relationship will provide that a Has_many, Through: will not.

[2017-07-03 17:50] pachonk commented on #30
Yep, 2.4.1 is the version we will be using. If anybody needs help setting up a version manager, I can help you out.

[2017-07-03 17:52] pachonk commented on #29
In that case, I put in this issue's description "Required for #16"

[2017-07-03 17:53] pachonk commented on #14
I think read/write/admin are good starters.

[2017-07-03 17:55] pachonk opened #32 "As a user, I want the main page to present a CTA to sign up/log in"

[2017-07-03 17:56] pachonk opened #33 "As a freshly authenticated user, I want to see a dashboard that shows my my orgs, my inventories, and buttons to add ether/or"

[2017-07-03 18:13] troystarwalt opened #36 "Error on User Create - Assuming Devise Issue"
I'm getting an error when creating users that links back to not setting a default_host with devise. Anyone else seeing this?

[code]

In [devise setup](https://github.com/plataformatec/devise#getting-started), they recommend setting:
`config.action_mailer.default_url_options = { host: 'localhost', port: 3000 }`

in `config/environments/development.rb`

[2017-07-03 18:17] Exellin commented on #17
has_many, through: requires setting up an additional model and is preferred if you want to add any extra attributes to the relationship (such as a status etc).  HABTM is the same thing only slightly simpler to set up.  I'm not sure if it is best practice to always use has_many ,through: as it allows the flexibility of adding additional attributes in the future and accomplishes the same thing as HA

[2017-07-03 18:17] sanchez2210 commented on #9
Should this be closed?

[2017-07-03 18:20] sanchez2210 commented on #17
Yes, that's my point. Also it's so much easier to add relationship validations on the join model. Specially at nested forms

[2017-07-03 18:27] #9 closed

[2017-07-03 18:29] pachonk commented on #17
I personally default to HABTM unless I need additional attributes, since it avoids setting up a model that's probably going to be mostly blank.
If I need to add additional attributes, that's when I convert it to a `has_many through:`

[2017-07-03 18:41] sanchez2210 commented on #17
Okay, only that for new devs like me it's usually hard to know when exactly is recommended to turn it into a `has_many, through:` ( mostly As soon as some extra attributes on the relationship is needed ) and delay the switch too long ( I did, HM-T looked scary )

[2017-07-03 18:50] Exellin opened #39 "stick to one naming convention for factories."
At the moment we have inventory.rb (singular) and users.rb (plural).  We should stick to one and maybe even append the file with _factory.rb

[2017-07-03 19:08] troystarwalt commented on #39
Good point. Shouldn't the factories match the model that it is referencing?

[2017-07-03 19:09] troystarwalt commented on #29
I'm working on this, but needed to add the defaul_url from #38 before finalizing the HABTM.

[2017-07-03 19:13] DanBonehill commented on #32
I'll work on this.

Will add root route and call to action. Do we have Bootstrap or anything installed? If not, are we using it or something similar?

[2017-07-03 19:20] Exellin commented on #39
Yeah that's how I have done it in my past projects.  So we would just need to change users.rb to user.rb

[2017-07-03 19:39] troystarwalt commented on #32
I don't think we've talked about the frontend much. We certainly want the site to look good, and I'm not sure we want to spend too much time doing anything from scratch.

So, I think Bootstrap would be fine. Other options: Foundation, Bulma, Material

Anyone have a preference or argument for one over the others?

[2017-07-03 20:43] DanBonehill commented on #32
Personally Bootstrap would be _easier_ as it's the only one I've used before, but I'm happy to use whichever if there are benefits to others that are out there.

[2017-07-03 21:08] Exellin opened #41 "add organization model"
## In Model
has a name attribute which is required, limited to a string of 255 characters, and is unique.

has_many inventories
HABTM users.

## In Schema
The name attribute will be not null and have a limit of 255.

Create table organization_users with organization id and user id with both indexed.

Needed for: #18 #19

[2017-07-03 21:29] DanBonehill commented on #32
Ok so I've finally got my setup working. A few questions for this story:

1. If I create the root route, I need to give it a controller. Normally I'd create a PagesController and then have the root route go to the index action. Is this approach ok, or is there another way I should do this?
2. What tests should I create for this? Request, View, Controller, Feature? A mixture?

[2017-07-03 21:52] DanBonehill commented on #41
I could pick this up, the model would look something like:
[code]
Would I need to create a table called organization_users to link the both, or do you only need this when using has_many :through?

[2017-07-03 21:55] Exellin commented on #41
you still need to create the table in the schema.  Rails isn't that magical

[2017-07-03 21:57] DanBonehill commented on #41
Haha. I'll work on it now

[2017-07-03 22:01] pachonk commented on #32
We are going for a VERY vanilla outline for this first project. The most I would personally be willing to use is a mixin lib like bourbon.io or comparable softwares.

[2017-07-03 22:02] pachonk commented on #39
Factories are plural.
`rails g model test` and look at the GENERATED factory (or maybe we need to turn factory generation on) I believe factories are always plural.

[2017-07-03 22:04] #30 closed

[2017-07-03 22:06] pachonk commented on #17
The simple answer is "when you need to have a model to back the intermediate table" the good news is you have 3 professional developers to help you make the call when it's ready to be converted to a has_many through.

[2017-07-03 22:07] DanBonehill commented on #39
The factory that was created when I generated the Organization model was plural.

[2017-07-03 22:08] pachonk commented on #39
^^

[2017-07-03 22:12] Exellin commented on #39
ok I'll make a quick fix on inventory.rb

[2017-07-03 22:21] #39 closed

[2017-07-03 22:33] sanchez2210 commented on #17
Great, I will make the additions now.

[2017-07-03 22:38] sanchez2210 commented on #17
#29

[2017-07-03 22:38] Exellin commented on #17
What additions are you making right now @sanchez2210?  @troystarwalt is already making the relationship in issue #29

[2017-07-03 22:40] sanchez2210 commented on #17
Yeah, I checked through the issues and noticed that there was work already being done there.

[2017-07-03 22:42] sanchez2210 commented on #12
I also think Pundit is a good option!

[2017-07-03 22:48] pachonk commented on #12
But is pundit the best option? If so, why? What other options are out there?

[2017-07-03 23:16] Exellin opened #43 "How should we display form errors to users?"
should we render a partial which renders all errors of the object above the form, create inline form errors, both, or another option which one of you can bring up?

[2017-07-03 23:17] sanchez2210 commented on #14
Why is admin different from write?

[2017-07-03 23:17] pachonk commented on #43
I like doing an all flash partial.

[2017-07-03 23:18] pachonk commented on #14
admin can rename the inventory and manage users.

[2017-07-03 23:18] sanchez2210 commented on #12
It has a good structure that's very self explanatory. Cancancan is another option

[2017-07-03 23:19] pachonk commented on #12
So what makes pundit STAND OUT from all the others?

[2017-07-03 23:30] sanchez2210 commented on #12
I think both of them are simple enough, but Pundit does seem to be closer to a DIY authorization engine. No DSL as well

[2017-07-03 23:32] pachonk commented on #12
Then the last question: Do we actually need an authorization gem?

[2017-07-03 23:38] Exellin commented on #41
also the organisation name should be unique.

[2017-07-03 23:41] sanchez2210 commented on #12
I'm not sure to be able to answer that question.

[2017-07-03 23:44] pachonk commented on #41
and not null

[2017-07-03 23:44] pachonk commented on #12
Understood. Just all questions worth asking.

[2017-07-04 00:26] Exellin opened #44 "What html and css frameworks should we use (if any)?"
This was mentioned in #32 and i figured it could use its own issue.

@pachonk brought up not wanting to go farther than something like bourbon.io which looks like a library to make writing scss easier, but doesn't actually have any built in html components or css classes.

I'm fine with going for vanilla, but I think its worth discussing unless alex wants to force it.

[2017-07-04 01:37] pachonk commented on #44
It's @emeralds project, I'm just here to act in a "client/project owner" seat.

[2017-07-04 04:17] sanchez2210 commented on #44
I like Susy

[2017-07-04 04:42] pachonk commented on #44
Is the feeling mutual?

[2017-07-04 04:44] pachonk commented on #44
Sorry, that was a lame joke.
In all seriousness, I would LOVE for us to go light on all assets to make this load fast even on a 1x connection.

[2017-07-04 05:08] sanchez2210 commented on #44
Haha she was hard at first but I persisted. Now I include her in most of my projects

[2017-07-04 05:09] pachonk commented on #44
I just laughed so hard my upstairs neighbor stomped and said "SHUT UP I'M TRYING TO WATCH A MOVIE!" omg :joy:

[2017-07-04 05:24] Exellin commented on #44
If all we need is a grid I have access to a simple grid we can just put into a css file.

[2017-07-04 05:26] pachonk commented on #44
Even a grid isn't fully needed with the idea of flexbox. I could be wrong
tho

On Tue, Jul 4, 2017, 12:24 AM Shawn Carnegie <notifications@github.com>
wrote:

[2017-07-04 05:28] Exellin commented on #44
Yeah we could do flexbox Ive dabbled in it a bit and this project could be a good place to practice it.

[2017-07-04 05:30] pachonk commented on #44
I was fortunate to dabble with flexbox on a project with @brandondees and it was TONS of fun! if you do it perfect, it can make a responsive design with almost no media queries.

[2017-07-04 07:49] brandondees commented on #44
It might make sense to back up and think in terms of what the project's objectives and requirements are.... is the point to practice working with frameworks X, Y, and Z? then get clear on that as a team and pursue it. Is the point to focus on getting team collaboration skills up while working with familiar technologies? get clear about that priority. Is the point to simulate a real-world client-dr

[2017-07-04 07:58] pachonk opened #45 "As a user, I want to be able to use the identical interface on both mobile and desktop"

[2017-07-04 08:01] pachonk opened #46 "Minimum Browser Requirements"
I personally believe this should work on Safari, Chrome, and Firefox at the minimum. As one of the 2 "partners" of Fake Company Inc., I'm okay with saying we can drop support for IE and Edge from the get-go. @brandondees the other partner of Fake Company Inc. will have to also give input into this capability requirement before we instate it as a design requirement.

[2017-07-04 08:34] brandondees commented on #46
Given the nature of the program, I only care about Mobile Safari and Chrome on Android. Everything else is just bonus. But also I use Edge exclusively on my Surface Pro (because I'm a business executive and we roll like that), which is what I'll be using to test the software.

[2017-07-04 09:05] pachonk commented on #46
Okay cool, so I guess our final compatibility requirements are:

- Mobile:
  - Chrome
  - Safari
- Safari
- Chrome
- Firefox
- Edge

[2017-07-04 09:08] pachonk opened #47 "As a developer, I want failed brakeman notices to fail my travis tests"

[2017-07-04 09:09] pachonk opened #48 "Use bundler-audit in travis tests"

[2017-07-04 20:08] Exellin commented on #44
My Impression for this project was that is is a way for us to practice collaboration in a project through code reviewed pull requests.  This improves our skills as developers as all of our code is reviewed before it is accepted and gives us an idea of best practices followed by professionals in the field.

I don't think the focus of this project should be on the graphics to begin with (as in a pul

[2017-07-04 20:21] pachonk commented on #44
If a pull request is sent in _with the purpose of fixing a UI glitch_ and the glitch still exists, it'll be unlikely for me to pull it in

There are enough BRAND NEW DEVS that I'm willing to say it's worth learning "the vanilla way". Also, it's worth learning yourself the vanilla way. As we move forward as a group of devs, maybe we can pick out some libraries, but I think this particular point you

[2017-07-04 20:36] Exellin commented on #44
Thanks for the in depth reply Alex.  You brought up some great points especially about going for vanilla in order for new developers to learn how to create a project without having to use something like bootstrap as a crutch even if they are more familiar with it.

If we aren't using a framework or grid system (which you just convinced me is the best path going forward) we will have to use multipl

[2017-07-04 20:44] pachonk commented on #44
@Exellin flexbox is just a css property. Realistically it doesn't HAVE TO BE USED on all parts of the app, so your vote is _really_ "Vanilla" and you intend to use flexbox during your development phase of the frontend :)

[2017-07-04 20:45] #21 closed

[2017-07-04 20:45] #24 closed

[2017-07-04 20:45] pachonk opened #50 "As a developer, I want to have newly created rubocop issues (within the commit's diff) force travis tests to fail"

[2017-07-04 21:00] pachonk commented on #32
I feel Pages controller is a little generic. Is there maybe a way to name the controller in order to specify that "All routes within the controller are within the "you don't have to log in" section of the site" IE if we added an "about us" piece.
So what can we name it to make it more clear that the entire controller is made to be unauthed

[2017-07-04 21:01] #14 closed

[2017-07-04 21:08] Exellin opened #51 "Configure rubocop to ignore rails generated files"

[2017-07-04 23:36] dendenvitorio commented on #47
I'll pick this up.

[2017-07-05 03:31] Exellin opened #54 "Create sign_in, sign_up, and sign_out feature specs."
Edit:  I'm working on this right now.

[2017-07-05 03:54] Exellin opened #55 "As a user, I would like to see a navigation bar on all pages with links to every view in the webpage."
Things to discuss:

- How should we collapse the navbar (hamburger icon or navbar increases in height to encompass links going on to new line)

- Navbar stays fixed at top of screen, disappears on scroll down then reappears when scrolling up, or is transparent when scrolling down etc)

- Color of links, styling on hover (link changes color, a bar is put underneath or on top of the link etc)

- Whi

[2017-07-05 06:35] brandondees commented on #44
I'll contend that UX is much more streamlined when user-focused stories are the driving force behind defining any requirements, and should usually require no major changes. Major changes that are needed should be discovered as early as possible through a feedback driven short-iteration design and dev process, before additional interdependencies have time to form. Needing to change the UX in a majo

[2017-07-05 08:14] dendenvitorio commented on #47
Hi @pachonk is this the one? https://github.com/presidentbeef/brakeman

[2017-07-05 08:16] pachonk commented on #47
That's the one.

[2017-07-05 09:03] pachonk commented on #44
What do you mean 80/20?

[2017-07-05 09:27] #47 closed

[2017-07-05 09:42] dendenvitorio commented on #18
once @DanBonehill is done, I think I wanna pick this up

[2017-07-05 09:45] pachonk commented on #18
@dendenvitorio How about #16 instead? Need to be able to add an org and such prior to this issue, so it might be a week or so.

[2017-07-05 09:46] pachonk opened #57 "As a user, I want to be able to have a centralized location to see all inventories and orgs I'm associated with"

[2017-07-05 13:34] troystarwalt commented on #44
I love Flexbox and the support is great across the browsers that we are targeting. So, plus one for no frontend framework.

[2017-07-05 17:47] #36 closed

[2017-07-05 17:51] Exellin commented on #43
I'm making this along with the authorization tests

[2017-07-05 18:44] pachonk opened #58 "As a developer, I want to be able to find key documentation in a unified place (README.md)"
Some things that need to be included:

- [ ] TravisCI Badge
- [ ] main heading "tenacious"
- [ ] under heading, at the very least the project tagline
- [ ] initial developer setup (running bin/setup, how to start the server(s), etc)
- [ ] how to run the test suite, rubocop, brakeman

[2017-07-05 18:44] pachonk commented on #58
This might be right up your alley, @dendenvitorio

[2017-07-05 20:51] brandondees commented on #44
https://en.wikipedia.org/wiki/Pareto_principle AKA the 80/20 rule, very often referenced in the context of prioritizing design and development tasks.

[2017-07-05 21:52] DanBonehill commented on #41
Just to check, as it's not specified above.

If Organization has_many Inventories, does Inventory belong_to Organization?

[2017-07-05 21:52] pachonk commented on #41
belongs to org OR user

[2017-07-05 23:57] Exellin opened #62 "Add mobile viewport to application.html.erb"
\<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1">

This will set the width of the document equal to the width of the viewing device whether that is a desktop or phone.  If you look at the page now on a mobile device (you can do this on chrome by going into developer tools and clicking on the image with 2 devices left of elements) you'll notice that everything i

[2017-07-05 23:59] Exellin opened #63 "Add CSS Reset"
off the top of my head things to add

html, body {
  padding: 0;
  margin: 0;
}

Edit:  Also move css away from asset pipeline into webpacker.

[2017-07-06 00:36] pachonk opened #64 "Implement foreman"

[2017-07-06 00:37] pachonk commented on #64
This can run webpack and rails by using only foreman, not both individually

[2017-07-06 00:37] pachonk commented on #63
@Exellin FTFY

[2017-07-06 00:38] pachonk commented on #62
Maybe explain to people that don't know what this does.

[2017-07-06 01:59] sanchez2210 commented on #64
Interesting, I'd say yes

[2017-07-06 02:20] #8 closed

[2017-07-06 04:36] pachonk opened #65 "As a developer, I would like to have an automated code coverage system for PRs"
The 2 I know of are:
- Coveralls
- CodeClimate

[2017-07-06 06:08] sanchez2210 commented on #16
Will work on this

[2017-07-06 06:41] brandondees commented on #44
experimental poll:
(click choice to vote)

[![](https://m131jyck4m.execute-api.us-west-2.amazonaws.com/prod/poll/01BMBA1WDF9JEAQATF0S0TVBTD/bootstrap)](https://m131jyck4m.execute-api.us-west-2.amazonaws.com/prod/poll/01BMBA1WDF9JEAQATF0S0TVBTD/bootstrap/vote)
[![](https://m131jyck4m.execute-api.us-west-2.amazonaws.com/prod/poll/01BMBA1WDF9JEAQATF0S0TVBTD/foundation)](https://m131jyck4m.execute-api

[2017-07-06 08:32] dendenvitorio commented on #18
Oops #16 was already gotten by luis. Forgot to put my comment there though, anyways I'll work on this

[2017-07-06 08:55] dendenvitorio commented on #19
I'll work on this

[2017-07-06 13:32] dendenvitorio commented on #65
Hi @pachonk have you experienced the two? How was your experience? and which do you prefer?

[2017-07-06 15:03] DanBonehill commented on #41
Ok, so do I need to add both of these as part of this story?

So add the below to the Inventory Model
`belongs_to :organization, :user`

[2017-07-06 16:07] DanBonehill commented on #41
This is now done, tests pass. I haven't updated the Inventory Model as I wasn't sure if it was in scope of this issue. Let me know if it is and I'll make the change there.

[2017-07-06 16:12] pachonk commented on #41
Nah, INVENTORY user stories will update this piece.

[2017-07-06 16:17] DanBonehill commented on #41
Ok, so I've just added `has_many :inventories` to the Organization model and that's it. In which case, I believe this is ready to be merged.

[2017-07-06 17:50] pachonk opened #67 "As an administrator, I want to prevent people from adding "official" looking orgs"

[2017-07-06 20:29] Talha5 opened #69 "As a user, i would like flash messages on login forms."
This will require devise view generation and flash messages being displayed on our forms.

[2017-07-06 20:42] pachonk commented on #69
@Exellin Isn't this already done or at least in a current PR?

[2017-07-06 20:53] Exellin commented on #69
Yup it's in pull request #61

[2017-07-06 21:59] pachonk opened #70 "As an external developer using this code, I want to know how I can improve this project"
I propose we use http://snuggsi.herokuapp.com/examples/github-ribbon/example.html

[2017-07-06 22:49] #54 closed

[2017-07-06 22:50] #41 closed

[2017-07-06 23:13] DanBonehill commented on #55
Are we doing all of this with vanilla CSS?

[2017-07-06 23:14] Exellin commented on #55
yeah.  I can do it if no one else wants to I've made a few navbars with vanilla css.

[2017-07-06 23:21] DanBonehill commented on #18
I'll pick this up.

[2017-07-06 23:23] pachonk commented on #18
@DanBonehill this and #16 go hand in hand. Can probably knock out both in 1 PR.

[2017-07-06 23:24] DanBonehill commented on #18
I think @sanchez2210 has picked that one up

[2017-07-06 23:33] pachonk commented on #18
Okay. Then might want to coordinate with him on this issue.

[2017-07-07 02:01] pachonk opened #72 "As a developer, I was to ensure that users have secure passwords"
No symbol restrictions and min length 14 is my recommendation.

[2017-07-07 02:18] Exellin commented on #29
This can be closed now.

[2017-07-07 07:26] DanBonehill opened #73 "As a developer, I would like clear documentation on yarn"

[2017-07-07 07:28] pachonk commented on #73
@DanBonehill this might be a better issue for https://github.com/emerald-rubies/guides
If you decide to move it there, you don't need to make it a user story, just explain it as "Create documentation for installing yarn"
Thanks!

[2017-07-07 08:40] Talha5 commented on #44
hehe, even one can vote again on the same poll.

[2017-07-07 08:41] pachonk commented on #44
I couldn't!

[2017-07-07 08:45] Talha5 commented on #44
I voted the other day, and then i did it just now. :|

[2017-07-07 08:57] pachonk commented on #44
Must have 2 different IP addresses then.

[2017-07-07 10:36] dendenvitorio commented on #19
currently working on this

[2017-07-07 11:00] DanBonehill commented on #18
So I'm struggling to understand how this would work.

You never sign in as an organization, only users sign in, so would they be creating an inventory on behalf of an organization they belong to?

[2017-07-07 14:52] #62 closed

[2017-07-07 15:16] #51 closed

[2017-07-07 15:24] troystarwalt commented on #67
As a developer...what do you mean by "official"?

[2017-07-07 15:30] pachonk commented on #67
"Administrator" or "tenacious". Might not be needed, idk

[2017-07-07 15:32] troystarwalt commented on #67
Gotcha - I thought you meant real orgs.

[2017-07-07 15:36] #69 closed

[2017-07-07 15:37] #50 closed

[2017-07-07 15:37] #63 closed

[2017-07-07 15:37] #45 closed

[2017-07-07 15:37] #43 closed

[2017-07-07 15:38] #32 closed

[2017-07-07 15:38] #13 closed

[2017-07-07 15:38] pachonk commented on #44
Closing this now. We can open another more specific issue later.

[2017-07-07 15:38] #44 closed

[2017-07-07 16:18] Exellin commented on #55
Working on this now.

[2017-07-07 16:24] pachonk commented on #55
I'd love to see the logged-in to look a lot like Github's navbar. Nice, clean, simple.

[2017-07-07 16:42] Exellin commented on #55
At the moment we don't have avatars or usernames, so right now I'm thinking just a dropdown that starts with 'Your Profile' and Log out as an option.

For things like your organizations, your inventories etc, do we want those on the navbar or will we eventually add them to the dropdown under your profile.

[2017-07-07 17:00] pachonk commented on #55
I'm almost thinking that the only way to navi to your org/inv is via your dashboard. Not sure what's nicest for UX.

[2017-07-07 17:11] Exellin commented on #55
I think at the moment we can have all links directly on the navbar, and then if it gets too cluttered we can add it to a dropdown (or maybe just change it to a dropdown on mobile).  Dropdowns are nice to reduce clutter but add 1 extra click to user experience.

As for being able to navigation to your orgs/inventories, I'm a believer in being able to get anywhere on the application from the navbar

[2017-07-08 01:43] pachonk opened #77 "As a user, I would like to read text that has a nice font face"

[2017-07-08 14:55] dendenvitorio commented on #77
Roboto.

[2017-07-08 15:45] mandyreal commented on #58
@pachonk, @dendenvitorio. - claimed this issue. created the initial readme, PR coming up soon.

[2017-07-09 02:34] Exellin commented on #55
Alex Idea:

Instead of a hamburger icon, have a star which links to your favorited inventories etc

Have 1 or 2 other links linking to dashboard/home or both.

[2017-07-09 03:24] pachonk opened #79 "As a user, I want to be able to add an inventory and associate it with myself or any of my organizations"
Inventory.owner_id and Inventory.owner_type = [:user, :organization] which is therefor a "polymorphic" rails association could be an option.

[2017-07-09 03:24] #16 closed

[2017-07-09 03:24] #18 closed

[2017-07-09 04:07] pachonk opened #80 "As a user, I want to see my inventory's locations on a map"
https://www.mapbox.com/

[2017-07-10 18:19] Exellin commented on #29
@troystarwalt are you working on this right now or still busy with family atm?

[2017-07-10 18:27] troystarwalt commented on #29
All yours!

[2017-07-10 18:32] Exellin commented on #17
I'm working on this at the same time as #29

[2017-07-10 18:55] pachonk opened #81 "As a developer, I want a color savvy set of colors to utilize"
AKA no pure white, pure black... Nice complimentary colors. etc

[2017-07-11 16:05] brandondees opened #83 "As a product owner, I want automated vulnerability scanning to ensure that the tool isn't negligent about keeping code patched"
add bundler-audit to gemfile and to the CI process... if a 3rd party dependency has a  known vulnerability, break the build until it gets updated.

[2017-07-15 02:16] #55 closed

[2017-07-18 01:59] #31 closed

[2017-07-18 17:52] MaxPleaner opened #92 "General issues with this repo."
First off, what in the hell is this even? The README has nothing to indicate what it is, nor how it's built.

Also, I see what you're trying to do with the issues page, but it doesn't really rub me the right way. It seems like these kind of statements (As a "X", I want to "Y") should be put inside a Cucumber test suite, not in the issues page. It'd be better, in my opinion, if the issues page was

[2017-07-18 18:08] pachonk commented on #92
Hi @MaxPleaner, thanks for taking interest in this repository!
We have an issue open to make a README here: https://github.com/emerald-rubies/tenacious/issues/58 and PRs are welcome!
The issues are small and bite size to allow even the most green developer (with some help) to be able to contribute. If you have a better suggestion on how to make these issues bite size, we're all ears.

[2017-07-19 05:47] #19 closed

[2017-07-19 05:53] pachonk opened #93 "As a user, I would like to see a list of organizations I am a part of on my dashboard"

[2017-07-20 00:06] Exellin commented on #65
Is this what codecov is doing?  Can we close this issue?

[2017-07-20 00:07] Exellin commented on #29
This can be closed now.

[2017-07-20 00:22] Exellin commented on #93
I'll work on this right now.

[2017-07-20 00:30] #29 closed

[2017-07-23 12:42] troystarwalt commented on #72
I'll take this on real.

[2017-07-26 02:36] #93 closed

[2017-07-26 08:21] Exellin commented on #79
I'm working on this right now

[2017-07-26 15:03] pachonk commented on #92
Without further response, I am closing this issue. If you have any other questions, feel free to reply.

[2017-07-26 15:03] #92 closed

[2017-07-26 15:07] Exellin commented on #79
I assume this is only organizations you own, right?  You shouldn't be able to add any inventory to any organization you are just a part of.

[2017-07-26 15:15] pachonk commented on #79
I don't know, it could make sense someday to have either/or based on a flag.

[2017-07-26 15:26] Exellin commented on #79
o.k. I'll keep it as just owner for now.  Perhaps in the future we can put in a organization level like for inventories (read, write, admin).  If you have admin access you can create an inventory and associate it to the organization.

[2017-07-26 19:38] Exellin commented on #79
I tried to make an array with the current user and the owned inventories of the user for the owner of the inventory but wasn't able to get it to work.  Is that possible?

For the time being I am falling back to nested routes to grab the owner from the url.

[2017-07-26 19:40] pachonk commented on #79
You might need to make user.all_inventories that merges org invs and user.inventories (or something similar)

[2017-07-26 19:47] Exellin commented on #79
Don't think you understand my question.  User.inventories will already grab all inventories it owns (and is part of since we will add the user to inventory.users on create).

My issue is assigning an inventory an owner either through the form or on create.

Do we want to nest the inventories in this project?  For example if a user creates an inventory do we want it to live in /users/user_id/invent

[2017-07-31 01:31] pachonk commented on #58
I got this now.

[2017-07-31 02:15] #79 closed

[2017-07-31 16:46] Exellin commented on #33
This can be closed now.

[2017-07-31 17:03] Exellin opened #98 "As a user, I would like to be identified with a username"
This is necessary for #17 to look through usernames to make associations instead of their email.  When we implement the ability to look at other members of an organization/inventory, usernames will be much better to look through than emails.

I'm also implementing this right away unless someone offers an alternative for this issue.

[2017-07-31 19:16] Exellin commented on #17
How do we want to associate additional users to the inventory?  Should an inventory administrator have search box to look for other users, they select the user and the level they want to associate them on and click invite?  Then the user will get an invitation on their dashboard they can accept?

That's my first thought on doing this.

[2017-08-02 03:41] #58 closed

[2017-08-02 03:41] #20 closed

[2017-08-02 03:41] #65 closed

[2017-08-02 03:43] pachonk commented on #83
Duplicate of #48

[2017-08-02 03:43] #83 closed

[2017-08-02 03:44] pachonk commented on #77
I'm also a fan of roboto, but there's probably a better choice. Let's implement roboto for now since I can't stand serif font faces.

[2017-08-02 03:46] pachonk commented on #77
Use google fonts for this

[2017-08-02 04:25] jeison24 commented on #77
@pachonk I did that issue, I added the link google font reference to `application.html.erb` and added the rule `html, body { font-family: 'Roboto', sans-serif; }` to `app/assets/stylesheets/application.scss`  is it all for this issue?

[2017-08-02 04:28] pachonk commented on #77
For now, yep

On Tue, Aug 1, 2017, 11:25 PM Jeison Arenales <notifications@github.com>
wrote:

[2017-08-02 04:29] Exellin commented on #77
@pachonk @jeison24 I think you should put it into app/javascript/stylesheets/custom.scss instead

[2017-08-02 04:31] jeison24 commented on #77
@Exellin ok, no problem. I am going to do that

[2017-08-02 04:32] pachonk commented on #77
I usually make a fonts partial

On Tue, Aug 1, 2017, 11:31 PM Jeison Arenales <notifications@github.com>
wrote:

[2017-08-02 04:41] Exellin commented on #77
just fonts.scss or what is a fonts partial?  And does this need to be assigned to both html and body or just body or html?

[2017-08-07 03:22] pachonk opened #102 "Fix failing travis test"
https://travis-ci.org/emerald-rubies/tenacious#L606

Webpacker requires Yarn version >= 0.20.1. Please download and install the latest version from https://yarnpkg.com/lang/en/docs/install/

[2017-08-07 03:22] #67 closed

[2017-08-07 03:23] pachonk commented on #12
Looks like an auth lib would be overkill for now.

[2017-08-07 03:23] #12 closed

[2017-08-07 03:24] pachonk commented on #73
Closing this since there hasn't been a reply for about a month.

[2017-08-07 03:24] #73 closed

[2017-08-07 03:25] pachonk commented on #57
@Exellin Comma separated doesn't work from https://github.com/emerald-rubies/tenacious/pull/96

[2017-08-07 03:25] #57 closed

[2017-08-07 03:38] pachonk opened #103 "Proposal for PR/contribution rules"
I want to add a list of contribution rules, so here's a proposal for discussion on rules:

1. Single responsibility: Each PR has a single responsibility. The scope of the PR can stretch > 1 issue, but the PR must not contain 2 entirely irrelevant change-sets.
1. Good commit messages: In order to provide a clean history. good commit messages must be used. Recommended guide: https://chris.beams.io/p

[2017-08-07 16:26] troystarwalt commented on #102
I came across this problem on a project I started last week. Below is my install block in `.travis.hml`.

[code]

Adding that fixed the failing travis test for me.

[2017-08-07 16:28] pachonk commented on #102
I'm guessing that changed the container base and that's what's causing the
issue. bin/setup takes care of a lot of that, but before that step, simply
line 5 might fix it. On automated things, please use the explicit "install"
though.

On Mon, Aug 7, 2017, 11:26 AM Troy Starwalt <notifications@github.com>
wrote:

[2017-08-07 18:44] pachonk commented on #103
Added 3 and 4 just now.

[2017-08-08 05:27] kunashir commented on #103
I am not sure that is always good but some teams use squash commits to one.

[2017-08-08 05:33] pachonk commented on #103
The devs that are competent have been squashing and the others I've been using github's squash feature

[2017-08-09 01:50] RafaelPrallon commented on #81
Well, I've looked up for some colors that would look good and found this combination of colors as a first suggestion:
for the background:
    http://www.colourdetails.com/hex-code/CCCCCC or http://www.colourdetails.com/hex-code/99FF66
for the header:
    www.colourdetails.com/hex-code/CC66FF
and the font being black

[2017-08-09 01:53] pachonk commented on #81
Hmm. I'd rather personally see something that's a very light gray (or a dark white :smile:)
I find the other 2 colors are fairly bright and hurt my eyes.

I propose we follow full Google Material Design Standards which are located here: https://material.io/guidelines/style/color.html#

[2017-08-09 02:32] RafaelPrallon commented on #81
Well, what about these ones:
   for the header: #3f51b5 and white font
   for the background: #7986cb and white font

[2017-08-09 03:12] RafaelPrallon opened #106 "At the Sign up and Sign in pages, the font is too small at the forms"
I suggest raising its size to something around 1.5 em

[2017-08-09 03:16] Exellin commented on #106
This should just be applied to all forms if we agree it is too small.  Also do we want to use em or px to define font size for this project?  I prefer px since I can have a better idea of how big they are going to be on the screen while writing the css, but don't have much experience for which is better for a project or best practice.

[2017-08-09 03:19] RafaelPrallon commented on #106
I've already heard the em is better for font-size since it would adapt its size according to the device it's displaying it.

[2017-08-09 03:28] pachonk opened #107 "Change rspec formatter to documentation"

[2017-08-09 03:53] Exellin commented on #107
I like the condensed style in guard, and then before I do a pr I do one final rspec --format documentation to make sure all the test names make sense.

[2017-08-09 03:55] pachonk commented on #107
Maybe we can change the guard runner's formatter?

[2017-08-09 04:02] pachonk opened #108 "Add pry-rails to the Gemfile"
Please add `pry-rails` and `pry-byebug`, thanks!

[2017-08-09 04:21] Exellin commented on #108
What does this do and why do you want it?

[2017-08-09 04:34] pachonk commented on #108
Allows you to do `binding.pry` to stop code execution and inspect things in real time. Switches rails c from irb to pry.

[2017-08-09 04:37] RafaelPrallon commented on #107
What would be the difference between the guard runner's formatter and changing the rspec formatter? I don't know much about the guard runner.

[2017-08-09 04:41] Exellin commented on #108
Is this an alternative to debugger?  If so anything it does better?

[2017-08-09 04:44] pachonk commented on #108
There _is_ pry-debugger, but it's an interactive ruby env that has more power. Can cd into objects, ls their methods, etc.

[2017-08-09 04:47] pachonk commented on #107
guard auto-runs tests if you modify a file that relates to a spec or edit a spec.

[2017-08-09 04:47] pachonk commented on #107
I'm personally a fan of always documentation, but it's a team consensus.

[2017-08-09 04:48] pachonk commented on #102
@troystarwalt Were you offering to fix this or just pointing to a possible fix?

[2017-08-09 04:55] RafaelPrallon commented on #107
I like using documentation format but configure the guard format to the progress bar may be good.

[2017-08-09 05:00] #102 closed

[2017-08-11 10:38] #77 closed

[2017-08-19 00:59] RafaelPrallon opened #113 "As a user, I would like to edit the data of a organization after I created it (feature) (discussion)"
A user would like to change the data of an organization he created previously, like the name, be it because of a typo during creation or the organization itself had its name changed. I would use the same form utilized at the new action but adding a warning indicating that changing the organization name will change its path.

[2017-08-19 01:01] RafaelPrallon opened #114 "As a user, I would like to delete an organization after I created it (feature) (discussion)"
Some events can make a user deciding that deleting the organization would be best.

[2017-08-19 01:03] RafaelPrallon opened #115 "As a user, I would like to edit the data of an inventory after I created it (feature) (discussion)"
Some situations may demand an user to edit a given information on an inventory, like typos.

[2017-08-19 01:05] RafaelPrallon opened #116 "As a user, I would like to delete an inventory after I created it (feature) (discussion)"
In case a user sees the inventory as not being necessary anymore, he should have the option to delete the inventory.

[2017-08-19 13:35] pachonk commented on #116
How about we archive this inventory instead. Mistakes happen and it's probably better to keep the data around.

[2017-08-19 13:37] pachonk commented on #115
Make sure to prompt the user that the URL will change.

[2017-08-19 13:43] pachonk commented on #114
I think archive might be a valid option. Either require them to have all inventories deactivated or state "all inventories will be deactivated"

[2017-08-19 13:43] pachonk commented on #113
Make it clear it will change URL's such as inventory URLs

[2017-08-21 05:37] sanchez2210 commented on #116
https://github.com/rubysherpas/paranoia ?

[2017-08-22 01:45] pachonk commented on #116
It's a possibility for sure. We should have a team discussion on any dependencies to make sure they're a good fit.

[2017-08-22 11:21] kunashir commented on #116
I think it's not good idea because this gem change default meaning for `destroy`  and it'll be not obviously when You see something like this `object.destroy` - is it really destroy object or only mark as destroyed? We use own implementation when have a call like `mark_as_deleted`. Maybe use state for this is better decision.

[2017-08-22 11:22] pachonk commented on #116
Also, it changes the default scope which I avoid like the plague

[2017-08-22 11:23] pachonk commented on #116
I usually come up with my own terms like deactivate which offers an easier later "see all deactivated inventory" and furthermore makes more sense when you want to actually destroy the object

[2017-08-22 11:30] kunashir commented on #80
Why this service? Why not google maps for example?

[2017-08-22 11:31] pachonk commented on #80
I just tossed a link in. I actually find the mapbox API easier to use and their free tier limits are higher. The price is cheaper which offers better scalability if we ever take off.

[2017-08-26 00:11] Exellin commented on #108
Since you just saw what I can do with debugger, are there any other features which pry-rails does that debugger doesn't have?  Or am I still misunderstanding what pry does in the context of 'stop code execution and inspect things in real time'.

[2017-08-26 00:14] pachonk commented on #108
It's the tools pry rails and pry byebug have that makes it powerful.
_ is a variable that gives you the last returned value
$ method_name gives you the code of that method.
cd Object changes into the object
ls lists methods available within the current context.

On Fri, Aug 25, 2017, 7:11 PM Shawn Carnegie <notifications@github.com>
wrote:

[2017-08-26 00:18] Exellin commented on #108
ok sounds cool to install and try out.

[2017-08-26 03:19] pachonk commented on #108
I like pry-rails and pry-byebug together.
Game for making this a real issue for a greenie to install?

[2017-08-26 04:51] Exellin commented on #108
yeah

[2017-08-26 16:29] pachonk commented on #108
Please add `pry-rails` and `pry-byebug`, thanks!

[2017-08-26 18:09] pachonk opened #117 "Refactor org#show"
Double instance variable with an apparent code smell in the view spec.

[2017-08-26 22:15] #117 closed

[2017-08-27 04:40] pachonk opened #121 "Investigate view with user/org union"
Just an issue that I'm making note of right now, but investigating making a view/model for org and user together to be somehow used for url generalizing for ease of use.

[2017-10-18 00:52] #17 closed

[2017-10-18 00:52] #98 closed

[2017-10-19 02:48] #108 closed

[2017-10-19 03:16] pachonk opened #128 "Add codecov badge"
[code]
^^ Add the above to readme by travis badge

[2017-10-19 03:22] pachonk opened #129 "Rotate CodeCov Token"
I showed it on a live stream :(

[2017-11-22 08:27] pachonk opened #130 "Proposal: Drop organizations from the flow until we have a working product"
I took a step back today and asked myself what could we do to help this project get shipped way faster.
I believe that removing orgs GREATLY decreases complexity and I think that would greatly lower the entry level for this project.
What do you think @Exellin @sanchez2210 @emerald-rubies/emeralds ?

[2017-11-22 16:43] sanchez2210 commented on #130
It's a possibility. I haven't really wrapped my head around the organizations feature tbh.

[2017-11-22 20:32] pachonk commented on #130
Yeah, even I have had trouble thinking about some of the code. Handling 2 of the same routes and trying to force uniqueness on orgs/users this way will be pretty hard and possibly time consuming. Lord knows @Exellin _already_ spent hours fighting this and I really want to lower the entry level of this project so more newer developers can PR more code changes.

Inspiration:
- https://play.google.co